.frame {
    height: 80px;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}

p.text {
    font-size: 12px;
    font-weight: 500;
    color: white;
}