.frame {
    backdrop-filter: blur(40px);
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    height: 80px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: pointer;
}

h1.title {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: white;
}

p.subtitle {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    color: #9b9b9b;
}