.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 340px;

    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: rgba(220, 220, 220, .5);
    backdrop-filter: blur(20px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.head_title {
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.head_subtitle {
    font-size: 12px;
    font-weight: 400;
    color: black;
    opacity: .7;
}

.btn {
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover {
    padding: 25px;
    background-color: rgba(0,0,0,.7);
}
.btn_text {
    color: white;
    font-size: 12px;
    font-weight: 500;
}