.btn {
    border: none;
    border-radius: 2px;
    padding: 0px 30px;
    min-height: 40px;
    max-height: 40px;
    cursor: pointer;

    backdrop-filter: blur(20px);
    font-weight: 500;
    font-size: 12px;
}